<!DOCTYPE html>
<html>
<head>
<title>XRX++ Unit Tests - xrx.textarea</title>
<script src='../../lib/codemirror/lib/codemirror.js'></script>
<link rel="stylesheet" href="../../lib/codemirror/lib/codemirror.css"/>
<script src='../../lib/closure-library/closure/goog/base.js'></script>
<script src='../deps.js'></script>
<script type="text/javascript">
  goog.require('goog.testing.jsunit');
  goog.require('xrx');
  goog.require('xrx.model');
  goog.require('xrx.view');
</script>
<link rel="stylesheet" type="text/css" href="default.css"/>
</head>
<body>

<div id="i1" class="xrx-instance">&lt;data&gt;test
test&lt;a/&gt;&lt;b&gt;OK1!
OK2!&lt;/b&gt;&lt;c/&gt;&lt;/data&gt;</div>
<div id="b1" class="xrx-bind" data-xrx-ref="xrx:instance('i1')//b/text()"></div>
<div id="b2" class="xrx-bind" data-xrx-ref="xrx:instance('i1')/data/text()"></div>
<div id="b3" class="xrx-bind" data-xrx-ref="xrx:instance('i1')/data/b/text()"></div>
<textarea id="t1" class="xrx-textarea" data-xrx-bind="b1"></textarea>
<textarea id="t2" class="xrx-textarea" data-xrx-bind="b2"></textarea>
<textarea id="t3" class="xrx-textarea" data-xrx-bind="b3"></textarea>

<script type="text/javascript">

function test01basic() {
  var txt = xrx.view.getComponent('t3');
  assertEquals('OK1!\nOK2!', txt.getValue());
};

function test02eventFocus() {
  var t1 = xrx.view.getComponent('t1');
  t1.setFocus();
  assertEquals('OK1!\nOK2!', xrx.model.cursor.getNode(0).xml());

  var t2 = xrx.view.getComponent('t2');
  t2.setFocus();
  assertEquals('test\ntest', xrx.model.cursor.getNode(0).xml());
};

function test03sequentialModelUpdate() {
  // first update
  var t1 = xrx.view.getComponent('t1');
  var expected1 = 
      '<data>test\n' +
      'test<a/><b>Updated1!\n' +
      'Updated2!</b><c/></data>';
  t1.setValue('Updated1!\nUpdated2!');
  assertEquals(expected1, xrx.model.getComponent('i1').xml());

  // second update
  var t2 = xrx.view.getComponent('t2');
  var expected2 =
      '<data>Updated too1!\n' +
      'Updated too2!<a/><b>Updated1!\n' +
      'Updated2!</b><c/></data>';
  t2.setValue('Updated too1!\nUpdated too2!');
  assertEquals(expected2, xrx.model.getComponent('i1').xml());

  // third update
  var expected3 =
      '<data>testtttttttt<a/><b>Updated1!\n' +
      'Updated2!</b><c/></data>';
  t2.setValue('testtttttttt');
  assertEquals(expected3, xrx.model.getComponent('i1').xml());

  // fourth update
  var expected4 = '<data>testtttttttt<a/><b>OK!</b><c/></data>';
  t1.setValue('OK!');
  assertEquals(expected4, xrx.model.getComponent('i1').xml());
};


function test04synchronizeSameNodeInputs() {
  var t1 = xrx.view.getComponent('t1');
  var t2 = xrx.view.getComponent('t2');
  var t3 = xrx.view.getComponent('t3');

  assertTrue(t1.getNode().sameAs(t3.getNode()));
  assertFalse(t1.getNode().sameAs(t2.getNode()));
};

</script>

<script type="text/javascript">
  xrx.install();
</script>
</body>
</html>
